.topbar{
  font-size: 15px;
  /*font-weight: 500;*/
  transition: all 0.5s;
  
  display: flex;
  flex-flow: row nowrap;

  /*#PROPIEDADES MODIFICABLES*/
  background: #EF7D00;
  color:#252525;
  /* font-weight: bold; */
  font-style: normal;
}
.topbar a{
  background: #EF7D00;
  color:#252525;
  /* font-weight: bold; */
  font-style: normal;
} 
.topbar a:hover{
  background: #EF7D00;
  color:#252525;
  /* font-weight: bold; */
  font-style: normal;
} 

  .top-telefono{
   
    flex:1 1 auto;
    width: 15%;
    display:flex;
    justify-content: center;
  }
 

    
  .top-horario{
    flex:4 1 auto;
   
    display:flex;
    justify-content: center;
  }
  
  .top-sucursales{

    flex:1 1 auto;
   
    width: 20%;
    display:flex;
  

  }
  .sucursales{
    align-items: center;
  }
  .top-sucursales a{
    
  }
  .titulo {
     
     margin-bottom: 0px;

  }
  .sucursal {
    /*   font-weight: bold;
       font-style: normal;*/
  }

@media all and (max-width: 600px){

  .topbar{
   /* flex-direction: column;
    align-items: center;
    height: auto;
    */
    display: none;
  }

/*  .top-telefono{

    width:100%;
    flex-wrap: wrap;

  }
  .top-horario{

    width:100%;
    display: none;

  }
  .top-sucursales{
    width:100%;
    background: #ffaa33;
    justify-content: center;
  }*/

}